/*
    Style pour la page "diagramme"
*/


body {
    margin: 0;
}

.header {
    background-color: rgb(6, 131, 185);
    width: 100%;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
}


.header h1{
    margin: 0 auto;
}

.header .logo {
    height: 60px;
    margin-left: 20px;
}

.header .titre_header_diagramme {
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 36px;
    color: whitesmoke;
}

.dropdown_annees,
.dropdown_regions {
    display: inline-block;
    width: 48%;
    padding: 10px;
}

.graphe {
    border: 2px solid white;
}

.logo_lien {
    position: absolute;
    left: 20px;
}
