.header
{
background-color: rgb(6, 131, 185);
width: 100%;
height: 80px;
display: flex;
align-items: center;
padding: 0 20px;
}

.header .logo
{
    height: 60px;
}

.header .titre_header_accueil
{
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 36px;
    color: whitesmoke;
}