/*
    Styles CSS pour la page d'accueil
*/


/* Style pour l'en-tête */
.header
{
background-color: rgb(6, 131, 185);
width: 100%;
height: 80px;
display: flex;
align-items: center;
padding: 0 20px;
}

/* Style pour le logo dans l'en-tête */
.header .logo
{
    height: 60px;
}

/* Style pour le titre dans l'en-tête */
.header .titre_header_accueil
{
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 36px;
    color: whitesmoke;
}

/* Style pour le contenu de la page d'accueil */
.home
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

/* Style pour le titre principal de la page d'accueil */
.home .titre_home
{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

/* Style pour le bouton "diagramme" de la page d'accueil */
.home .btn_diagramme
{
    display: inline-block;
    padding: 15px 40px;
    margin-bottom: 10px;
    font-size: 15px;
    color: white;
    background-color: rgb(6, 131, 185);
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease;
    min-width: 150px;    
    text-align: center; 
}

/* Effet au survol du bouton diagramme */
.home .btn_diagramme:hover
{
    transform: scale(1.05);
}

/* Style pour le bouton "map" de la page d'accueil */
.home .btn_map
{
    display: inline-block;
    padding: 15px 40px;
    font-size: 15px;
    color: white;
    background-color: rgb(6, 131, 185);
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease;
    min-width: 150px;    
    text-align: center; 
}

/* Effet au survol du bouton map */
.home .btn_map:hover
{
    transform: scale(1.05);
}

/* Style pour la section des participants au projet */
.participants
{
    position: fixed;
    bottom: 40px;
    left: 40px;
    font-size: 1.5rem;
    color: black;
}

/* Style pour la liste des participants */
.participants ul
{
    list-style-type: "- ";
    margin: 0;
    padding-left: 15px;
}