/*
    Styles CSS pour la page d'accueil
*/

body {
    margin: 0;
}

.header {
    background-color: rgb(6, 131, 185);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.header .logo {
    height: 60px;
    margin-left: 20px;
    position: absolute;
}

.header .titre_header_accueil {
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 36px;
    color: whitesmoke;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.home .titre_home {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.home .btn_diagramme {
    display: inline-block;
    padding: 15px 40px;
    margin-bottom: 10px;
    font-size: 15px;
    color: white;
    background-color: rgb(6, 131, 185);
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease;
    min-width: 150px;
    text-align: center;
    transform: scale(1.2);
}

.home .btn_diagramme:hover {
    transform: scale(1.25);
}

.home .btn_map {
    margin-top: 10px;
    display: inline-block;
    padding: 15px 40px;
    font-size: 15px;
    color: white;
    background-color: rgb(6, 131, 185);
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease;
    min-width: 150px;
    text-align: center;
    transform: scale(1.2);
}

.home .btn_map:hover {
    transform: scale(1.25);
}

.participants {
    position: fixed;
    font-size: 1.5rem;
    color: black;
    bottom: 0;
    width: 100%;
    padding: 20px;

    background-color: rgb(6, 131, 185);

}

.participants ul {
    list-style-type: "-";
    margin: 0;
    padding-left: 15px;
}