<!DOCTYPE html >
<html>
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Projet Data K-L-V</title>
      <link rel="stylesheet" href="static/css/index.css">
   </head>
   <body>
   <header class="header">
      <img src="static/images/ESIEE_Paris_logo.png" class="logo" alt="ESIEE Paris logo">
      <h1 class = "titre_header_accueil">Accueil</h1>
   </header>
   <main class="home">
      <h2 class="titre_home">✈️ Bienvenue sur l'analyse du trafic aérien commercial mensuel des aérodromes français durant la période COVID 19 ✈️</h2>
      <a href="/dash/" class="btn_commencer">Commencer</a>
   </main>
   <footer class="participants">
      <p><strong>Participants :</strong></p>
      <ul>
         <li>Kadir ERSOY</li>
         <li>Lucas POKRYWA</li>
         <li>Valentin HONODOU</li>
      </ul>
   </footer>
   </body>
</html>